* {
    font-size: 15pt;
    font-family: Ariel, Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #775AC8;
}

ul.topnav li.left a.tab {
  font-family: Share Tech Mono;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration:none;
  text-transform: uppercase;
}

ul.topnav li.hol a {
  font-family: Share Tech Mono;
  display: block;
  color:  #59D430;
  text-align: center;
  padding: 20px 20px;
  text-decoration:none;
  text-transform: uppercase;
}

ul.topnav li.right a {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
}

ul.topnav li.logo a{
  font-size: 20pt;
  display: inline-block;
  color: silver;
  text-align: center;
  text-decoration:none;
  padding: 14px 25px;
  font-family: 'Trebuchet MS', san-serif;
}

ul.topnav li.logo a b i{font-size: 20pt; font-style: 'Trebuchet MS', san-serif;}

img.icon {
  height: 25px;
  width: 25px;
  filter:brightness(0.5);
}
ul.topnav li a.hol:hover:not(.active) {color: #DD7AF4;}
ul.topnav li.left a:hover:not(.active) {color: silver;}

ul.topnav li.logo a:hover:not(.active) {color: #DD7AF4}

ul.topnav li a img.icon:hover:not(.active) {filter: brightness(1);}

ul.topnav a.active {background-color: #929292;}

ul.topnav li.right{float: right; margin:auto;}

ul.topnav li.left {float: left;}

ul.topnav li.logo {float: left; }

ul.topnav li.hol {float: left; }

.banner_frame {
  height: 220pt;
  overflow: hidden;
  width:100%;
  display:block;

}

.banner {
  width:100%;
  margin-top: -10%;
}
.top_block {
  background: #4D3A81;
  display: block;
  padding: 15pt;
  width: 90%;
  border-radius: 5pt;
  margin-top: 40pt;
  margin-bottom:40pt;
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align:center;
}


.header {
  font-size: 40pt;
  font-family: "Share Tech";
  padding: 18pt 5pt;
  font-style: italic;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
  display: block;
}

.time_header {
  font-size: 25pt;
  color: silver;

}

#demo {
  font-size: 40pt;
  color: silver;

}



.holiday {
  background-image: linear-gradient( to bottom, #297C06,  #59D430, #C8006F);
  width:100%;
  overflow:auto;
}

.page_header {
    font-size: 20pt;
    text-align: center;
    margin-top: 20pt;
    margin-bottom: 10pt;
}

    .letter {
        width: 800px;
        margin-top:30pt;
        margin-bottom: 30pt;
        margin-left:auto;
        margin-right: auto;
        background: #eee5de;
        padding:50pt;
        box-shadow: 3px 2px #A9A9A9;
  
    }
    .letter_text {  
      padding: 20pt;
      margin-left: 30pt;
      margin-right:30pt;
      line-height: 25pt;
    }

   

    .link {
      font-weight: bold;
      text-decoration: none;
    }
    .link:hover:not(.active) {color: #2D3585;}

@media only screen and (max-width: 1200px) {
    div.message{float: none; text-align: center; display: block; padding: 0; width:inherit;}
    div.head_wrapper {overflow: hidden; display:block;}
      .img_wrapper {float: none; padding: 0pt;}
    div.second {overflow: hidden; display:block;}
    div.second_text {padding:10pt; width:inherit; display:block; float:none; margin-left:0; margin-top:0;}
    div.second iframe {width:inherit; display:block; margin-left:auto; margin-right:auto; margin-top:10pt; margin-bottom:30pt; float:none;}  
    .letter {width: 700px;background: #eee5de;} 
    .letter_text {margin-right:10pt; margin-left:10pt;} 
    .holiday { background-image: linear-gradient( to bottom, #59D430, #DD7AF4);}
     }


  @media only screen and (max-width: 900px) {
    ul.topnav li.left {float: none;}
    ul.topnav li.right {float: none; text-align:center;}
    ul.topnav li.logo {float: none; text-align:center;}
    ul.topnav li.hol {float: none; text-align:center;}
    p.logo {font-size:38pt;}
    div.message{float: none; text-align: center; display: block; padding: 0; width:inherit;}
    div.head_wrapper {overflow: hidden; display:block;}
      .img_wrapper {float: none; padding: 0pt;}
    div.second {overflow: hidden; display:block;}
    div.second_text {padding:10pt; width:inherit; display:block; float:none; margin-left:0; margin-top:0;}
    div.second iframe {width:inherit; display:block; margin-left:auto; margin-right:auto; margin-top:10pt; margin-bottom:30pt; float:none;}
    .letter {width: auto; margin-left:5pt; margin-right:5pt; padding:10pt; background: #eee5de;} 
    .letter_text {margin-left:5pt; margin-right:5pt; margin-top:15pt; margin-bottom:15pt;} 
    .holiday { background-image: linear-gradient( to bottom, #59D430, #DD7AF4);}
    .banner {
      margin-top: 0;
    }
    .top_block {
      width: auto; margin-left:5pt; margin-right:5pt;    
    }

  }
  