* {
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
 
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #775AC8;
}

ul.topnav li.left a.tab {
  font-family: Share Tech Mono;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration:none;
  text-transform: uppercase;
}

ul.topnav li.hol a {
  font-family: Share Tech Mono;
  display: block;
  color:  #59D430;
  text-align: center;
  padding: 20px 20px;
  text-decoration:none;
  text-transform: uppercase;
}

ul.topnav li.right a {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
}

ul.topnav li.logo a{
  font-size: 20pt;
  display: inline-block;
  color: silver;
  text-align: center;
  text-decoration:none;
  padding: 14px 25px;
  font-family: 'Trebuchet MS', san-serif;
}

ul.topnav li.logo a b i{font-size: 20pt; font-style: 'Trebuchet MS', san-serif;}

img.icon {
  height: 25px;
  width: 25px;
  filter:brightness(0.5);
}
ul.topnav li a.hol:hover:not(.active) {color: #DD7AF4;}
ul.topnav li.left a:hover:not(.active) {color: silver;}

ul.topnav li.logo a:hover:not(.active) {color: #DD7AF4}

ul.topnav li a img.icon:hover:not(.active) {filter: brightness(1);}

ul.topnav a.active {background-color: #929292;}

ul.topnav li.right{float: right; margin:auto;}

ul.topnav li.left {float: left;}

ul.topnav li.logo {float: left; }

ul.topnav li.hol {float: left; }
div.full_body {
  width:100%;
  background: black;
  overflow: auto;
}


.about_text {
color: white;
    display: block;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}

.body_header {
    font-family: 'Bebas Neue', Calibri, sans-serif;
    font-size: 20pt;
    text-align: center;
    color: white;
    margin-top:20pt;
    margin-bottom:10pt;
}

a.awcyfm {
  font-family: 'Varela Round', sans-serif;
  font-size: 12pt;
}

.body_field {
  text-align: left;
  margin: 10pt;
  color: white;
}

.box_header {
   font-family: 'Bebas Neue', Calibri, sans-serif;
   font-size: 20pt;
   text-align: center;
   color: white;
}

.box_field {  
  text-align: left;
  color: white;
  padding: 10pt;
}

.block {
  display: block;
  overflow: auto;
}

.box_left {
  float:left;
  margin: 20pt 0 20pt 120pt;
  width: 250pt;
  text-align: left;
  background: #CC32FF;
  border-radius: 5pt;
  padding: 10pt;
  overflow:hidden;
  transition: height 1s;
}

.box_right {  
  float:right;
  margin: 20pt 120pt 20pt 0;
  width: 250pt;
  text-align: left;
  background: #CC32FF;
  border-radius: 5pt;
  padding: 10pt;
  overflow:hidden;
  transition: height 1s;
}

#kai {
    height:256pt;
}

#rowan {
  height:256pt;
}

#tb {
  height:48pt;
}

#saiss {
  height:52pt;
}

div#kai:hover{
  height: 420pt;
  background: #d468f7;
}

div#rowan:hover{
  height: 460pt;
  background: #d468f7;
}

div#tb:hover{
  height: 266pt;
  background: #d468f7;
}

div#saiss:hover{
  height: 270pt;
  background: #d468f7;
}


.prof_pic {
   border-radius: 5pt;
   width: 200pt;
   display:block;
   margin-left: auto;
   margin-right: auto;
   border: solid white;
   margin-top: 10pt;
   margin-bottom: 10pt;
      }

.tb_logo {
  font-family:'Share Tech Mono', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 .saiss_logo {
  font-family: 'Cormorant Garamond', serif;
   font-style:italic;
   padding-left:15pt;
   padding-right:15pt;
}

@media screen and (max-width: 1200px) {
  .prof_pic {
    width: 150pt;
  }
    .box_right{
  display: block; margin-right:10pt; width:180pt;
  }
      .box_left{
  display: block; margin-left: 10pt; width:180pt;
}
  #kai {
    height:200pt;
}

#rowan {
  height:200pt;
}
  
#tb {
  height:48pt;
}

#saiss {
  height:82pt;
}
  
 div#kai:hover{
  height: 447pt;
  background: #d468f7;
}

div#rowan:hover{
  height: 513pt;
  background: #d468f7;
}

div#tb:hover{
  height: 394pt;
  background: #d468f7;
}

div#saiss:hover{
  height: 448pt;
  background: #d468f7;
} 
}

@media screen and (max-width: 900px) {
  .box_right {
   display: block;margin-left: auto; margin-right:auto; float:none;
  }
      .box_left{
  display: block;margin-left: auto; margin-right:auto; float:none;
}
  
}

@media screen and (max-width: 600px) {
   ul.topnav li.logo {float: none; text-align:center;}
  ul.topnav li.left {float: none;}
  ul.topnav li.right {float: none; text-align:center;}
  ul.topnav li.hol {float: none; text-align:center;}

  .box_right{
  display: block;margin-left: auto; margin-right:auto; float:none;
  }
      .box_left{
  display: block;margin-left: auto; margin-right:auto; float:none;
}
  
  }
.bottom {
  height: 50pt;
}
