* {
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
 
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #775AC8;
}

ul.topnav li.left a.tab {
  font-family: Share Tech Mono;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration:none;
  text-transform: uppercase;
}

ul.topnav li.hol a {
  font-family: Share Tech Mono;
  display: block;
  color:  #59D430;
  text-align: center;
  padding: 20px 20px;
  text-decoration:none;
  text-transform: uppercase;
}

ul.topnav li.right a {
  display: inline-block;
  padding: 14px 20px;
  text-decoration: none;
}

ul.topnav li.logo a{
  font-size: 20pt;
  display: inline-block;
  color: silver;
  text-align: center;
  text-decoration:none;
  padding: 14px 25px;
  font-family: 'Trebuchet MS', san-serif;
}

ul.topnav li.logo a b i{font-size: 20pt; font-style: 'Trebuchet MS', san-serif;}

img.icon {
  height: 25px;
  width: 25px;
  filter:brightness(0.5);
}
ul.topnav li a.hol:hover:not(.active) {color: #DD7AF4;}
ul.topnav li.left a:hover:not(.active) {color: silver;}

ul.topnav li.logo a:hover:not(.active) {color: #DD7AF4}

ul.topnav li a img.icon:hover:not(.active) {filter: brightness(1);}

ul.topnav a.active {background-color: #929292;}

ul.topnav li.right{float: right; margin:auto;}

ul.topnav li.left {float: left;}

ul.topnav li.logo {float: left; }

ul.topnav li.hol {float: left; }

div.listen_block {
    width:100%;
    background: black;
    overflow: auto;
}

.body_header {
    font-family: 'Bebas Neue', Calibri, sans-serif;
    font-size: 20pt;
    text-align: center;
    color: white;
    margin-top:20pt;
    margin-bottom:10pt;
}

.box_header {
    font-family: 'Bebas Neue', Calibri, sans-serif;
    font-size: 20pt;
    text-align: center;
  padding: 5pt;
}


iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30pt;
  margin-bottom: 30pt;
  height: 600px;
  width: 90%;
}

.listening {
  display: block;
  overflow: auto;

}

.streamcast {
  display: block;
  margin: 40pt 40pt 40pt 0;
  padding: 20pt;
  width: 350pt;
  text-align: justify;
  float: right;
  background: #CC32FF;
  border-radius: 5pt;
}
.live{
  display: block;
  margin: 40pt 0 40pt 40pt;
  padding: 20pt;
  width: 350pt;
  text-align: justify;
  float: left;
  background: #CC32FF;
  border-radius: 5pt;
}

.link {
  font-weight: bold;
  text-decoration: none;
}
.link:hover:not(.active) {color: #2D3585;}

@media only screen and (max-width: 1250px) {  .live{width:250pt;}
  .streamcast {width:250pt;} }

@media only screen and (max-width: 1000px) {  .live{width:190pt;}
  .streamcast {width:190pt;} }

@media only screen and (max-width: 850px){
 .live{float:none; display:block; width: inherit; margin-left:5pt; margin-right:5pt;}
  .streamcast {float:none; display:block; width:inherit; margin-left:5pt; margin-right:5pt;}
}

@media only screen and (max-width: 600px) {
  ul.topnav li.left {float: none;}
  ul.topnav li.right {float: none; text-align:center;}
   ul.topnav li.logo {float: none; text-align:center;}
  .live{float:none; display:block; width: inherit; margin-left:5pt; margin-right:5pt;}
  .streamcast {float:none; display:block; width:inherit; margin-left:5pt; margin-right:5pt;}
  iframe {margin-left:0; margin-right:0; width:100%;}
  ul.topnav li.hol {float: none; text-align:center;}

}